/* General */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F0F0F0;
  margin: 0;
}

h1 {
  color: #0A6847;
  text-align: center;
  margin-top: 20px;
}

#left-container, #right-container {
  background-color: #eee;
  width: 15%;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#left-container {
  left: 0;
}

#right-container {
  right: 0;
}

.plant {
  width: 80px;
  cursor: grab;
}

#terrarium-container {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: #d1e1df;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #0A6847;
}

.jar-walls {
  height: 80%;
  width: 90%;
  background: #d1e1df;
  border-radius: 1rem;
  position: absolute;
  opacity: 0.5;
}

.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  top: -2%;
  left: 25%;
  opacity: 0.7;
}

.jar-bottom {
  width: 50%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: -2%;
  left: 25%;
  opacity: 0.7;
}

.dirt {
  width: 90%;
  height: 10%;
  background: #3a241d;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
  opacity: 0.7;
}
